<div class="card dark-back mb-5">
  <h2 class="m-auto">{{listName}}</h2>
  <ul class="list-group">
    <li class="list-group-item dark-back" *ngFor="let member of (members | async)">
      <div>
        {{member.name}}
        <button *ngIf="editMode; else elseBlockAbsent" class="btn btn-danger float-right">remove</button>
        <ng-template #elseBlockAbsent>
          <button class="btn btn-info float-right">absent</button>
        </ng-template>
      </div>
    </li>
    <div>
      <div class="container">
        <div class="row">
          <button class="btn bg-warning col-md-3" *ngIf="editMode; else elseAddMember">+</button>
          <ng-template #elseAddMember>
            <div class="col-md-3" ></div>
          </ng-template>
          <button class="btn bg-white col-md-6" (click)="editMode = !editMode">
            <div *ngIf="editMode; else elseBlockEnterEditMode">finish edit</div>
            <ng-template #elseBlockEnterEditMode>edit member...</ng-template>
          </button>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </ul>
</div>
