<div class="card dark-back mb-5">
  <h2 class="m-auto">{{listName}}</h2>
  <ul class="list-group">
    <li class="list-group-item dark-back" *ngFor="let member of (members | async)">
      <div>
        {{member.name}}
        <button class="btn btn-info float-right">absent...</button>
      </div>
    </li>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <button class="btn bg-white col-md-4">edit member...</button>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </ul>
</div>
